<!-- created by: Akshima Sharma (ADID : ) -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0ccd48ad8b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{css/adminDash.css}">
	<link rel="stylesheet" href="" th:href="@{css/profile.css}">
    <title>Administrator Dashboard</title>
</head>

<body>
    <section class="header">
        <div class="header_left">
            <img src="../image/logoipsum-logo-35.svg" alt="">
            <span>XYZ Bank</span>
        </div>
        <div class="header_right">
            <img src="" th:src="@{images/user.png}" alt="">
            <a href="./profile.html">Admin</a>
        </div>
    </section>
    <section class="dash">
        <div class="dash_left">
            <ul>
                <a class="" href="newCustomer">Create new user</a>
				<a class="active" href="changeAdminPassword">Change Password</a>
                <a href="#">Log-out</a>
            </ul>
        </div>
        <div class="dash_right">
		<h1>Change Password</h1>
		<br>
		<hr>
		<br>
          <form class="edit_profile-form" action="changeAdminPass" method="post">
          <div class="form_groups">
                <div class="form_group">
                    <label class="form-label" for="customer_id">Customer Id</label>
                    <input class="form-input" type="text" id="customer_id" name="UserID" placeholder="UserID">
                </div>
            </div>
			<div class="form_groups">
                <div class="form_group">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-input" type="password" id="password" name="Password" placeholder="Password">
                </div>
                <div class="form_group">
                    <label class="form-label" for="last_name">Confirm Password</label>
                    <input class="form-input" type="password" id="confirmPass" placeholder="Confirm Passwrod">
                </div>
            </div>
            <div class="form_btns">
                <button class="form_btn form_btn-save" id="submit" type="submit">Save</button>
            </div>
		  </form>
        </div>
    </section>
    
    <script type="text/javascript">
    	function checkPassword(){
    		var pass1 = document.getElementById("password").value;
    		var pass2 = document.getElementById("confirmPass").value;
    		
    		if(pass1 != pass2){
    			alert("Enter password correctly !");
    			document.getElementById("submit").disabled = true;
    		}
    		else{
    			document.getElementById("submit").disabled = false;
    		}
    	}
    </script>
</body>

</html>